<footer>
    <div class="footer-content">
        <h3>TECOStore</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia magnam voluptatibus ipsum iusto explicabo.</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2022 TECOSTORE. designed by <span>Cuarto 9 resi 3 + jarol</span></p>
    </div>
</footer>