.fondo {
    background: #FF8008;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFC837, #FF8008);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFC837, #FF8008);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10%;

}


.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #34656D;
}

.divider2:after,
.divider2:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #fffff1;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.letrita {
    font-family: 'BIZ UDGothic', sans-serif;
    font-family: 'Patrick Hand', cursive;
    font-size: large;
}

.inputEdit {
    border-color: #34656D;
    /* width: 320px; */
    width: 75%;
    border-radius: 5px;
}


.btnConfimar {
    background-color: #34656D;
    color: white;
}

.btnCancelar {
    background-color: #4b5253;
    color: white;
}

.iconosSelect {
    color: #34656D;
}

.card {
    border: none;
}



.botton{
    border: 1px solid #34656D;
    border-radius: 5px;
    padding: 7px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.botton:hover{
    /* animation: ; */
    border: 1px solid #F6185F;
    background-color: #F6185F;
    
}

.btn-close:hover{
    /* animation: ; */
    border: 1px solid #F6185F;
    color: #F6185F;
    
}
.green:hover {
    /* border: 1px solid #55A611; */
    color: #55A611;
    font-size: 1.8rem;
}
.red:hover {
    /* border: 1px solid #F6185F; */
    color: #F6185F;
    font-size: 1.8rem;
}

.i{
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
    border: 1px solid #55A611;
    background-color: #55A611;
}