.dividerd {
    margin-left: auto;
    margin-right: auto;
    content: "";
    flex: 1;
    width: 70%;
    height: 1px;
    background: #34656D;
    margin-bottom: 2rem;
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #34656D;
}

.title-page {
    display: block;
    text-align: center;
    margin-top: 1rem;
}

.title-page span {
    font-family: 'New Tegomin', serif;
    font-size: xx-large;
}

.divider2:after,
.divider2:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #fffff1;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.letrita {
    font-family: 'BIZ UDGothic', sans-serif;
    font-family: 'Patrick Hand', cursive;
    font-size: large;
}

.inputEdit {
    border-color: #34656D;
    /* width: 320px; */
    width: 75%;
    border-radius: 5px;
}


.btnConfimar {
    background-color: #34656D;
    color: white;
}

.btnCancelar {
    background-color: #4b5253;
    color: white;
}

.card {
    border: none;
}

#iGreen,
#iRed {
    transition: transform 0.25s,
}

#iGreen {
    color: green;
}
#iRed {
    color: red;
}

#iGreen:hover, 
#iRed:hover {
    transform: scale(1.2);
}



.botton {
    border: 1px solid #34656D;
    border-radius: 5px;
    padding: 7px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.botton:hover {
    /* animation: ; */
    border: 1px solid #F6185F;
    background-color: #F6185F;

}

.btn-close:hover {
    /* animation: ; */
    border: 1px solid #F6185F;
    color: #F6185F;

}


.btn:hover {
    border: 1px solid #55A611;
    background-color: #55A611;
}

