<div class="vh-100">
    <div class="container-fluid h-custom ">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-xl-5">
                <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0" style="font-family: 'BIZ UDGothic', sans-serif; 
                    font-family: 'Patrick Hand', cursive; font-size:x-large">Mi perfil</p>
                </div>
                <div class="card" *ngIf="editando==false">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <p class="letrita text-end">Cédula Jurídica: </p>
                                <p class="letrita text-end">Empresa: </p>
                                <p class="letrita text-end">Teléfono: </p>
                                <p class="letrita text-end">Correo: </p>
                            </div>
                            <div class="col">
                                <p class="letrita text-start" id="cargaIDJ"></p>
                                <p class="letrita text-start" id="cargaNE"></p>
                                <p class="letrita text-start " id="cargaTE"></p>
                                <p class="letrita text-start" id="cargaCE"></p>
                            </div>
                        </div>
                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0" style="font-family: 'BIZ UDGothic', sans-serif; 
                            font-family: 'Patrick Hand', cursive; font-size:x-large">
                                <i type="button" class="fa-solid fa-edit me-3 iconosSelect green"
                                    (click)="cargarEditarPerfil()"></i>
                                <i type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                    class="fa-solid fa-trash ms-3 iconosSelect red"></i>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card" *ngIf="editando==true">
                    <div class="card-body">
                        <div class="" style="margin-left:25% ;" [formGroup]="editForm">
                            <p class="form-floating"><input class="text-start inputEdit form-control"
                                    style="border: none;" type="text" id="formIDJ" type="text" formControlName="IDJ"
                                    onmousedown="return false">
                                <label for="formIDJ">Cédula Jurídica:</label>
                            </p>

                            <p class="form-floating"><input class="text-start inputEdit form-control" id="formNE"
                                    type="text" formControlName="nombre">
                                <label for="formNE">Empresa:</label>
                            </p>
                            <p class="form-floating"><input class="text-start inputEdit form-control" id="formTE"
                                    type="text" formControlName="telefono">
                                <label for="formTE">Teléfono:</label>
                            </p>
                            <p class="form-floating"><input class="text-start inputEdit form-control"
                                    style="border: none;" id="formCE" type="text" formControlName="correo"
                                    onmousedown="return false">
                                <label for="formCE">Correo electrónico:</label>
                            </p>
                            <p class="form-floating"><input class="text-start inputEdit form-control" id="formContra"
                                    type="text" formControlName="contra">
                                <label for="formContra">Contraseña:</label>
                            </p>
                        </div>

                        <div class="divider d-flex align-items-center my-4">
                            <p class="text-center fw-bold mx-3 mb-0" style="font-family: 'BIZ UDGothic', sans-serif; 
                            font-family: 'Patrick Hand', cursive; font-size:x-large">
                                <i type="button" class="fa-solid fa-arrow-left me-3 iconosSelect red"
                                    (click)="volverCarga()"></i>
                                <i type="button" class="fa-solid fa-check ms-3 iconosSelect green" data-toggle="modal"
                                    data-target="#exampleModal"></i>
                            </p>
                        </div>
                        <!-- Modal Editar Empresa-->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                                        <button type="button" class="btn-close" data-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Desea guardar cambios?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btnConfimar" (click)="editarEmpresa()"
                                            data-dismiss="modal">Guardar
                                            Cambios</button>
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider2 d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0" style="font-family: 'BIZ UDGothic', sans-serif; 
                    font-family: 'Patrick Hand', cursive; font-size:x-large">
                        <button *ngIf="editando==false" type="button" class="btn btnConfimar ms-3"
                            routerLink="/Addproducts">Agregar producto</button>
                        <button *ngIf="editando==false" type="button" class="btn btnConfimar ms-3"
                            routerLink="/Myproducts">Mis productos</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar perfil</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ¿Estas seguro que deseas eliminar el tu perfil?
                Esta acción no tiene retorno.
            </div>
            <div class="modal-footer">
                <button type="button" class="botton btnConfimar" (click)="eliminarUsuarioEmpresa()"
                    data-bs-dismiss="modal">Eliminar</button>
                <button type="button" class="btn btnCancelar" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>