<section class="vh-100">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1">
            <div class="col">
                <div class="div-span-error" *ngIf="emptyForm">
                    <span id="span-error">Debe llenar todos los campos</span>
                </div>
                <div class="div-span-error" *ngIf="emptyPattern">
                    <span id="span-error">Verifique su correo electrónico</span>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            <h3 style="font-family: 'BIZ UDGothic', sans-serif; 
                                    font-family: 'Patrick Hand', cursive;">Inicio de sesión</h3>
                        </div>
                        <div class="divider align-items-center"></div>
                        <form class="mx-1 mx-md-4" [formGroup]="loginForm">
                            <!-- Email input -->
                            <div class="mb-4" cont>
                                <input (click)="validarInputsVacios()" (keypress)="validarInputsVacios()" type="email" id="email" class="form-control"
                                    formControlName="email" placeholder="Ingrese su correo electrónico"/>
                                <label type="" id="labelcito"></label>

                            </div>

                            <!-- Password input -->
                            <div class=" mb-3">
                                <div class="input-group mb-3">
                                    <input (click)="validarInputsVacios()" (keypress)="validarInputsVacios()" [type]="passLock? 'password' : 'text'" id="password"
                                        class="form-control" formControlName="password"
                                        placeholder="Ingrese su contraseña" />
                                    <button (click)="buttonVPass()" class="btn btn-outline-secondary"
                                        style="border-color:#CED4DA;" type="button" id="buttonBlock">
                                        <i *ngIf="passLock===true" class="fa-solid fa-lock"></i>
                                        <i *ngIf="passLock===false" class="fa-solid fa-lock-open" alt="mostrar"></i>
                                    </button>
                                </div>
                            </div>

                            <!-- <div class="d-flex justify-content-between align-items-center">
                            
                            <a type="button" id="forgotPass" class="float-end" style="font-family: 'BIZ UDGothic', sans-serif; 
                            font-family: 'Patrick Hand', cursive;">Olvidé mi contraseña</a>
                        </div> -->

                            <!-- Login Icons -->
                            <div class="text-center text-lg-center mt-4 pt-2">
                                <button (click)="loginWithEmail()" type="button"
                                    class="btn btn-primary loginButton buttonDarkGreen" style="font-family: 'BIZ UDGothic', sans-serif; 
                                font-family: 'Patrick Hand', cursive;">Iniciar sesión</button>
                            </div>

                            <p class="small fw-bold mt-2 pt-1 mb-0">¿No tienes cuenta? <a routerLink="/Register"
                                    class="link-danger">Registrarse</a></p>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <section class="">

        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-60">
                <!-- <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="./assets/bienvenido.png" class="img-fluid" alt="Sample image">
            </div> 
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0" style="font-family: 'BIZ UDGothic', sans-serif; 
                    font-family: 'Patrick Hand', cursive; font-size:x-large">Inicio de sesión</p>
                    </div>
                    <form [formGroup]="loginForm">
                        <!-- Email input 
                        <div class="form-outline mb-4" cont>
                            <input type="email" id="form3Example3" class="form-control form-control-lg"
                                formControlName="email" placeholder="Ingrese su correo electrónico" />
                            <label type="" id="labelcito"></label>

                        </div>

                        <!-- Password input --
                        <div class="form-outline mb-3">
                            <div class="input-group mb-3">
                                <input [type]="passLock? 'password' : 'text'" id="inputPasswordLogin"
                                    class="form-control form-control-lg" formControlName="password"
                                    placeholder="Ingrese su contraseña" />
                                <button (click)="buttonVPass()" class="btn btn-outline-secondary"
                                    style="border-color:#CED4DA;" type="button" id="buttonValidPass">
                                    <i *ngIf="passLock===true" class="fa-solid fa-lock"></i>
                                    <i *ngIf="passLock===false" class="fa-solid fa-lock-open" alt="mostrar"></i>
                                </button>
                            </div>
                        </div>

                        <!-- <div class="d-flex justify-content-between align-items-center">
                        
                        <a type="button" id="forgotPass" class="float-end" style="font-family: 'BIZ UDGothic', sans-serif; 
                        font-family: 'Patrick Hand', cursive;">Olvidé mi contraseña</a>
                    </div> -->

                        <!-- Login Icons --
                        <div class="text-center text-lg-center mt-4 pt-2">
                            <button (click)="loginWithEmail()" type="button"
                                class="btn btn-primary btn-lg loginButton buttonDarkGreen butonHover" style="font-family: 'BIZ UDGothic', sans-serif; 
                            font-family: 'Patrick Hand', cursive;">Iniciar sesión</button>
                        </div>

                        <p class="small fw-bold mt-2 pt-1 mb-0">¿No tienes cuenta? <a routerLink="/Register"
                                class="link-danger">Registrarse</a></p>

                    </form>
                </div>
            </div>
        </div>

        <!-- <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 fotter"
        style="background-color:#34656D">
        <div class="text-white mb-3 mb-md-0 " style="font-family: 'BIZ UDGothic', sans-serif; 
        font-family: 'Patrick Hand', cursive;">
            Copyright © 2022. Derechos reservados.
        </div>
        

        
        <div>
            <a href="#!" class="text-white me-4">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fa-brands fa-google"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
        </div>
        
    </div> --
    <!-- </section> -->