<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-60">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="./assets/bienvenido.png" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" style="margin-left:190PX;">
                <div class="divider d-flex align-items-center my-4">
                    <p class="text-center fw-bold mx-3 mb-0" style="font-family: 'BIZ UDGothic', sans-serif; 
                    font-family: 'Patrick Hand', cursive; font-size:x-large">Inicio de sesión</p>
                </div>
                <form [formGroup]="loginForm">
                    <!-- Email input -->
                    <div class="form-outline mb-4" cont>

                        <input type="email" id="form3Example3" class="form-control form-control-lg"
                        formControlName="email" placeholder="Ingrese su correo electrónico" />
                        <label type="" id="labelcito"></label>

                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <div class="input-group mb-3">
                            <input [type]="passLock? 'password' : 'text'" id="inputPasswordLogin" class="form-control form-control-lg"
                            formControlName="password" placeholder="Ingrese su contraseña" />
                            <button (click)="buttonVPass()" class="btn btn-outline-secondary" style="border-color:#CED4DA;" type="button" id="buttonValidPass">
                                <i *ngIf="passLock===true" class="fa-solid fa-lock"></i>
                                <i *ngIf="passLock===false" class="fa-solid fa-lock-open"></i>
                            </button>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                            <label class="form-check-label" for="form2Example3" style="font-family: 'BIZ UDGothic', sans-serif; 
                            font-family: 'Patrick Hand', cursive;">
                                Recuérdame
                            </label>
                        </div>
                        <a href="#!" class="text-body" style="font-family: 'BIZ UDGothic', sans-serif; 
                        font-family: 'Patrick Hand', cursive;">Olvidé mi contraseña</a>
                    </div>

                    <div class="text-center text-lg-center mt-4 pt-2">
                        <button (click)="loginWithEmail()" type="button" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;"
                            style="font-family: 'BIZ UDGothic', sans-serif; 
                            font-family: 'Patrick Hand', cursive; background-color:#34656D;border-color: #34656D;">Iniciar sesión</button>
                    </div>
                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">Ó</p>
                    </div>
                    <div
                        class="d-flex flex-row align-items-center justify-content-center justify-content-lg-center mt-4">
                        <button  type="button" style="background-color:#1F4492"
                            class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-facebook-f"></i>
                        </button>

                        <button  type="button" style="background-color:#DC3332;border-color: #DC3332;"
                            class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-google"></i>
                        </button>

                        <button type="button" style="background-color:#1F4492"
                            class="btn btn-primary btn-floating mx-1">
                            <i class="fab fa-linkedin-in"></i>
                        </button>
                    </div>

                    <p class="small fw-bold mt-2 pt-1 mb-0">¿No tienes cuenta? <a routerLink="/Register"
                            class="link-danger">Registrarse</a></p>

                </form>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 "
        style="background-color:#34656D">
        <!-- Copyright -->
        <div class="text-white mb-3 mb-md-0 " style="font-family: 'BIZ UDGothic', sans-serif; 
        font-family: 'Patrick Hand', cursive;">
            Copyright © 2022. Derechos reservados.
        </div>
        <!-- Copyright -->

        <!-- Right -->
        <div>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#!" class="text-white me-4">
                <i class="fab fa-google"></i>
            </a>
            <a href="#!" class="text-white">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
        <!-- Right -->
    </div>
</section>