<div class="title-page">
    <span>Acerca de</span>
</div>

<div class="divider my-4"></div>

<div class="container">
    <p>TECOstore es un sitio web para publicar productos ecoambientales,
        busca que las empresas que hacen estos productos tengan una interfaz
        para administrar sus productos y ponerlos en un catálogo
        en linea para que los usuarios interesados en adquirir sus productos, puedan contactarlos</p>
    <h3>Equipo de trabajo</h3>
    <h4>Gerente:</h4>
    <p>Jean Carlos Urbina Silva</p>
    <h4>Desarrolladores:</h4>
    <p>Harold Enrique Ramírez Mora</p>
    <p>Ian Alejandro vargas Ledezma</p>
    <p>Elison Usiel Corrales Vargas</p>
    <h4>Patrocinadores:</h4>
    <p>Gaudy Esquivel Vega</p>
    <p>Rogelio Gonzalez Quiros</p>
</div>
<div class="divider"></div>