<div class="title-page">
    <span>Todos los productos</span>
</div>

<div class="divider my-4"></div>

<div class="div-search" *ngIf="productos.length > 0">
    <div class="search">
        <form action="" [formGroup]="formSearch">
            <div style="display:inline;">
                <select name="category" id="combo-category" formControlName="category">
                    <option value="" selected>-Seleccione-</option>
                    <option value="np" selected>Nombre producto</option>
                    <option value="ne" selected>Nombre empresa</option>
                    <option value="c" selected>Categoría</option>
                    <option value="cp" selected>Código producto</option>

                    <!-- <option *ngFor="let producto of listaCategorias ;index as i" value="{{producto.categoria}}">
                        {{producto.categoria}}</option> -->
                </select>

            </div>

            <div style="display:inline;">
                <input type="text" id="busqueda" value="Esto" formControlName="search" onkeydown="if (event.keyCode == 13)
                document.getElementById('btn-search').click()">

            </div>
            <div class="div-icon-search" type="button" id="btn-search" (click)="searchiando()">
                <i class="fa-solid fa-search"></i>
            </div>
        </form>
    </div>
</div>

<div class="emptyList" *ngIf="productos.length == 0">
    <span>No existen productos registrados</span>
</div>

<div class="emptyList" *ngIf="noresults">
    <span>No se han encontrado resultados</span>
</div>

<div class="container">
    
    <div class="row row-cols-1 row-cols-sm-5 row-cols-md-5" *ngIf="productos.length >= 1 && misProductos.length<1 && noresults==false">
        <div class="col" *ngFor="let producto of productos | paginate: { itemsPerPage: 10, currentPage: pages }">
            <div class="card">
                <!-- Titulo -->
                <div class="card-title">
                    <h5 style="font-family: 'BIZ UDGothic', sans-serif; 
                            font-family: 'Patrick Hand', cursive;">{{ producto.nombre }}</h5>
                </div>
                <!-- Atributos e imagen -->
                <div class="card-body" [routerLink]="['/Details/', obtenerIdProducto(producto.idProducto)]" type="button">
                    <div class="card-text">
                        <img src="{{producto.imagen}}" alt="pollito">
                        <h6 style="font-family: 'BIZ UDGothic', sans-serif; 
                                font-family: 'Patrick Hand', cursive;">{{obtenerEmpresa(producto.idEmpresa)?.nombre}}</h6>
                        <h6 style="font-family: 'BIZ UDGothic', sans-serif; 
                                font-family: 'Patrick Hand', cursive;">{{producto.idProducto}}</h6>
                        <h6 style="font-family: 'BIZ UDGothic', sans-serif; 
                                font-family: 'Patrick Hand', cursive;">{{producto.categoria}}</h6>
                    </div>

                </div>
                <!-- Footer  -->
                <div class="align-items-center footerCard">
                    <p class="text-center fw-bold mx-3 mb-0" style="font-family: 'BIZ UDGothic', sans-serif; 
                            font-family: 'Patrick Hand', cursive; font-size:x-large">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-sm-5 row-cols-md-5" *ngIf="misProductos.length >= 1 && noresults==false">
        <div class="col" (change)="misProductos"
            *ngFor="let producto of misProductos | paginate: { itemsPerPage: 10, currentPage: pages }">
            <div class="card">
                <!-- Titulo -->
                <div class="card-title">
                    <h5 style="font-family: 'BIZ UDGothic', sans-serif; 
                            font-family: 'Patrick Hand', cursive;">{{ producto.nombre }}</h5>
                </div>
                <!-- Atributos e imagen -->
                <div class="card-body" [routerLink]="['/Details/', obtenerIdProducto(producto.idProducto)]" type="button">
                    <div class="card-text">
                        <img src="{{producto.imagen}}" alt="pollito">
                        <h6 style="font-family: 'BIZ UDGothic', sans-serif; 
                                font-family: 'Patrick Hand', cursive;">{{obtenerEmpresa(producto.idEmpresa)?.nombre}}</h6>
                        <h6 style="font-family: 'BIZ UDGothic', sans-serif; 
                                font-family: 'Patrick Hand', cursive;">{{producto.idProducto}}</h6>
                        <h6 style="font-family: 'BIZ UDGothic', sans-serif; 
                                font-family: 'Patrick Hand', cursive;">{{producto.categoria}}</h6>
                    </div>

                </div>
                <!-- Footer  -->
                <div class="align-items-center footerCard">
                    <p class="text-center fw-bold mx-3 mb-0" style="font-family: 'BIZ UDGothic', sans-serif; 
                            font-family: 'Patrick Hand', cursive; font-size:x-large">
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="background-pagination" *ngIf="productos.length >= 1 && misProductos.length<1 && noresults==false">
    <div class="divPagination">
        <pagination-controls class="my-pagination" [maxSize]='7' previousLabel="" nextLabel=""
            (pageChange)="pages = $event">
        </pagination-controls>
    </div>
</div>

<div class="background-pagination" *ngIf="misProductos.length >= 1 && noresults==false">
    <div class="divPagination">
        <pagination-controls class="my-pagination" [maxSize]='7' previousLabel="" nextLabel=""
            (pageChange)="pages = $event">
        </pagination-controls>
    </div>
</div>