<div class="title-page">
    <span>Todos los productos</span>
</div>

<div class="divider my-4"></div>

<div class="div-search my-4" *ngIf="productos.length > 0">
    <div class="search">
        <form action="" [formGroup]="formSearch">
            <div style="display:inline;">
                <select name="category" id="combo-category" formControlName="category">
                    <option value="" selected>-Seleccione-</option>
                    <option value="np" selected>Nombre producto</option>
                    <option value="ne" selected>Nombre empresa</option>
                    <option value="c" selected>Categoría</option>
                    <option value="cp" selected>Código producto</option>

                    <!-- <option *ngFor="let producto of listaCategorias ;index as i" value="{{producto.categoria}}">
                        {{producto.categoria}}</option> -->
                </select>

            </div>

            <div style="display:inline;">
                <input type="text" id="busqueda" value="Esto" formControlName="search" onkeydown="if (event.keyCode == 13)
                document.getElementById('btn-search').click()">

            </div>
            <div class="div-icon-search" type="button" id="btn-search" (click)="searchiando()">
                <i class="fa-solid fa-search"></i>
            </div>
        </form>
    </div>
</div>

<div class="emptyList" *ngIf="productos.length == 0">
    <span>No existen productos registrados</span>
</div>

<div class="emptyList" *ngIf="noresults">
    <span>No se han encontrado resultados</span>
</div>

<div class="container">
    <div class="fila" *ngIf="productos.length >= 1 && misProductos.length<1 && noresults==false">
        <div class="columna" *ngFor="let producto of productos | paginate: { itemsPerPage: 12, currentPage: pages }">
            <div class="card" [routerLink]="['/Details/', obtenerIdProducto(producto.idProducto)]" type=" button">
                <!-- Titulo -->
                <div class="card-title"></div>
                <!-- Atributos e imagen -->
                <img src="{{producto.imagen}}" alt="pollito">
                <div class="card-text">
                    <h5 style="font-family: 'BIZ UDGothic', sans-serif; 
                                font-family: 'Patrick Hand', cursive;">{{ producto.nombre }}</h5>
                    <p style="font-family: 'BIZ UDGothic', sans-serif; 
                                    font-family: 'Patrick Hand', cursive;">
                        {{obtenerEmpresa(producto.idEmpresa)?.nombre}}</p>
                </div>
                <!-- Footer  -->
                <div class="align-items-center footerCard"></div>
            </div>
        </div>
    </div>
    <div class="fila" *ngIf="misProductos.length >= 1 && noresults==false">
        <div class="columna" (change)="misProductos"
        *ngFor="let producto of misProductos | paginate: { itemsPerPage: 10, currentPage: pages }">
            <div class="card" [routerLink]="['/Details/', obtenerIdProducto(producto.idProducto)]" type=" button">
                <!-- Titulo -->
                <div class="card-title"></div>
                <!-- Atributos e imagen -->
                <img src="{{producto.imagen}}" alt="pollito">
                <div class="card-text">
                    <h5 style="font-family: 'BIZ UDGothic', sans-serif; 
                                font-family: 'Patrick Hand', cursive;">{{ producto.nombre }}</h5>
                    <p style="font-family: 'BIZ UDGothic', sans-serif; 
                                    font-family: 'Patrick Hand', cursive;">
                        {{obtenerEmpresa(producto.idEmpresa)?.nombre}}</p>
                </div>
                <!-- Footer  -->
                <div class="align-items-center footerCard"></div>
            </div>
        </div>
    </div>
</div>
<div class="background-pagination" *ngIf="productos.length >= 12 && misProductos.length<1 && noresults==false">
    <div class="divPagination">
        <pagination-controls class="my-pagination" [maxSize]='7' previousLabel="" nextLabel=""
            (pageChange)="pages = $event">
        </pagination-controls>
    </div>
</div>

<div class="background-pagination" *ngIf="misProductos.length >= 12 && noresults==false">
    <div class="divPagination">
        <pagination-controls class="my-pagination" [maxSize]='7' previousLabel="" nextLabel=""
            (pageChange)="pages = $event">
        </pagination-controls>
    </div>
</div>